.box {
background-Color : gray;
width : 100px;
height : 100px;
border : 1px solid black; 
}

.red{background-color: red;}
.blue{background-color: blue;}
.green{background-color: green;}
/* 
.box-100 {
    width: 100px;
    height: 100px;
    border:1px solid black;
}


.box-200 {
    width: 100px;
    height: 100px;
    border:1px solid rgb(43, 7, 7);
}


.box-300 {
    width: 100px;
    height: 100px;
    border:1px solid rgb(52, 16, 55);
}

 */

/* .bg-red{
 background-color: rgb(43, 12, 12);
}
.bg-black{
    background-color: rgb(91, 28, 75);
   }
   .bg-blue{
    background-color: red;
   } */
/* div{
    width: 100px;
    height: 100px;
    background-color: red;
} */