h1{
    background-color: red;
}

input[name="userPwd"]{
    color: brown;
    background-color: red;
}
#userPwdLabel{
    color: red;
}

#test01{
    border: 5px solid black;
    width: 300px;
}
 #test01> li{
    color: blue;
}
#target ~ div {
    color: blue;
}
#active-test:active{
    background-color: blue;
}
#hover-test:hover{
    background-color: green;
}
input[type="checkbox"]:checked{
    width: 100px;
    height: 100px;
    background-color: pink;
}

#btn01:focus{
    background-color: aqua;
}
#btn02:focus{
    background-color: rgb(97, 29, 88);
}
input[type="button"]:enabled {
    background-color: violet;
}