body{
  background-color: pink
}

#t01{
  width: 800px;
  height: 500px;
  /* background-color: red; */
  border: 3px solid black;
  box-sizing: border-box;
  background-image:url(../resources/img/이주형.jpg);
  /* background-repeat: repeat-y; */
  background-repeat: no-repeat;
  background-size: cover;
}