<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카카오 로그인 페이지</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <div class="login-container">
        <h2>kakao</h2>
        <form action="/submit-your-login-form" method="POST">
            <div class="input-group">
                <label for="username">사용자 이름:</label>
                <input type="text" id="username" name="username" required placeholder="카카오메일 아이디,이메일,전화번호">
            </div>
            <div class="input-group">
                <label for="password">비밀번호:</label>
                <input type="password" id="password" name="password" required placeholder="비밀번호">
               <div id="loginsell"> <input type="radio"><span>간편로그인 정보 저장</span></div>
            </div>
            <button type="submit" class="login-button">로그인</button>
            <hr>또는<hr>
            <button type="submit" class="qr-button">qr코드로그인</button>
        </form>
    </div>
</body>
</html>